# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# === Virtual Environment ===
venv/
ENV/
env/
.venv/
Scripts/
bin/
Lib/

# === OS Specific ===
.DS_Store
Thumbs.db

# === IDE / Editor ===
.vscode/
.idea/
*.swp

# === Byte-compiled / temporary ===
*.tmp
*.bak
*.old

